# --- Prevenção de Execução Maliciosa e Rede ---
ignore-scripts=true
strict-ssl=true

# --- Controle de Versão e Estabilidade ---
save-exact=true
engine-strict=true

# --- Auditorias e Informações ---
audit=true
fund=false
update-notifier=false
